<div class="row row-cols-2 mx-auto" style="justify-content: center;">
{{#each products as |product|}}
<div class="col-4 mb-3 card1" style="width: 18rem;">
	<a class="link text-decoration-none" href="/products/{{id}}">
	<div class="card" style="background-color: lightblue;">
  <img src="{{product_image_200}}" class="card-img-top" alt="image of {{product_name}}">
  <div class="card-body" style="height: 75px;">
    <h5 class="card-title">{{product_name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: ${{price}}</li>
    <li class="list-group-item">Stock: {{stock}}</li>
  </ul>
  </div>
  </a>
</div>
{{/each}}
</div>