<div class="row" style="justify-content: center;">
{{#each products as |product|}}
<div class="col-4 mb-3 card1 px-0 mx-2" style="width: 18rem;">
	<a class="link text-decoration-none" href="/products/{{id}}">
	<div class="card" style="border-color: #0077B6; border-width: 1.5px;">
  <img src="{{product_image_200}}" class="card-img-top" alt="image of {{product_name}}">
  <div class="card-body border rounded-3" style="height: 75px; background-color: #00B4D8;">
    <h5 class="card-title text-center">{{product_name}}</h5>
  </div>
  <ul class="list-group list-group-flush text-center" >
    <li class="list-group-item" style="border-color: #0077B6;">Price: ${{price}}</li>
    <li class="list-group-item">Stock: {{stock}}</li>
  </ul>
  </div>
  </a>
</div>
{{/each}}
</div>