{{!-- <div class="col mb-3">
	<div class="card" style="background-color: rgb(236, 236, 236);">
		<div class="card-body">
			<h5 class="text-center display-6 font-weight-bold">
				<img src="{{singleProduct.product_image_400}}" class="img-fluid rounded float-start"
					alt="image of {{singleProdcut.product_name}}">{{singleProduct.product_name}}</img>
			</h5>
			<p class="card-text text-center">Price: ${{singleProduct.price}}</p>
			<p class="text-center">Stock: {{singleProduct.stock}}</p>
		</div>
	</div>
</div> --}}

{{!-- <div class="card mb-3">
  <img src="{{singleProduct.product_image_400}}" class="card-img-top img-fluid" alt="image of {{singleProdcut.product_name}}"/>
  <div class="card-body">
    <h5 class="card-title">{{singleProduct.product_name}}</h5>
			<p class="card-text text-center">Price: ${{singleProduct.price}}</p>
			<p class="text-center">Stock: {{singleProduct.stock}}</p>
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
</div> --}}

{{!-- <div class="row row-cols-2 mx-auto" style="justify-content: center;">
<div class="col-4 mb-3 card" style="width: 18rem;">
<img src="{{singleProduct.product_image_400}}" class="card-img-top float-start" style="width: 18rem;" alt="image of {{singleProdcut.product_name}}">	

	<div class="card" style="background-color: lightblue;">
  
  <div class="card-body" style="height: 75px;">
    <h5 class="card-title">{{singleProduct.product_name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: ${{singleProduct.price}}</li>
    <li class="list-group-item">Stock: {{singleProduct.stock}}</li>
  </ul>
  </div>
</div>
</div> --}}

<div class="card mb-3 row mx-auto" style="max-width: 1000px; justify-content: center; background-color: lightblue;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{singleProduct.product_image_400}}"
        alt="image of {{singleProdcut.product_name}}"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body text-center">
        <h5 class="card-title fs-1">{{singleProduct.product_name}}</h5>
		</div>
		  <ul class="list-group list-group-flush text-center row mx-auto fs-2" style="max-width: 300px; justify-content: center;">
    <li class="list-group-item" style=" background-color: rgb(200, 233, 244);">Price: ${{singleProduct.price}}</li>
    <li class="list-group-item" style=" background-color: rgb(140, 219, 245);">Stock: {{singleProduct.stock}}</li>
  </ul>
        {{!-- <p class="card-text text-center">
          Description Description Description Description Description
		   Description Description Description Description Description
		    Description Description Description Description Description
			 Description Description Description Description Description
        </p> --}}
      </div>
    </div>
  </div>
<div class="text-center">
	<button class="btn btn-danger float-center deleteProduct" type="submit">Delete Product</button>
	{{!---------------------------------------------------------------------------------------------}}
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
		Edit Product
	</button>

	<!-- Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="editModal">Edit Product</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-outline mb-3">
						<label class="form-label" for="">Product Name</label>
						<input type="text" id="pName" class="form-control form-control-lg" value="{{singleProduct.product_name}}" />
					</div>

					<div class="form-outline mb-3">
						<label class="form-label" for="">Product Price</label>
						<input type="text" id="pPrice" class="form-control form-control-lg" value="{{singleProduct.price}}" />
					</div>

					<div class="form-outline mb-3">
						<label class="form-label" for="">Product Stock</label>
						<input type="text" id="pStock" class="form-control form-control-lg" value="{{singleProduct.stock}}" />

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" id="editConfirm" class="btn btn-primary">Confirm</button>
				</div>
			</div>
		</div>
		</form>
		{{!--------------------------------------------------------------------------------------------}}
	</div>